{% load static %}
<!-- partial:partials/_sidebar.html -->
<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open bg-dark bg-gradient">
    <div class="mdc-drawer__header border-bottom border-light">
        <a href="{% url 'home-page' %}" class="brand-logo">
            <h3 class="text-center text-light">JASIRI POS</h3>
        </a>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'home-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Home
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">info</i>Setup
                        </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">storage</i>Stores
                        </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'category-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Category List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'product-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">label</i> Inventory
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="{% url 'stock_list' %}">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">menu</i> Stock Level
                        </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'pos-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">payment</i> Point of Sale
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'sales-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">receipt</i>Product Sales
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="sales_report">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">security</i> Report
                        </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="{% url 'debtors_list' %}">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">receipt</i>Debtors
                        </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="{% url 'creditors-page' %}">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">receipt</i>Creditors
                        </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">security</i> Security
                        </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">info</i> FAQ
                        </a>
                </div>
            </nav>
        </div>
    </div>
</aside>
<!-- partial -->